@font-face
  font-family: 'bebas_neue_cyrillicregular';
  src: url('../fonts/bebas_neue_cyrillic-webfont.woff2') format('woff2'),
          url('../fonts/bebas_neue_cyrillic-webfont.woff') format('woff'),
          url('../fonts/bebas_neue_cyrillic-webfont.svg#bebas_neue_cyrillicregular') format('svg');
  font-weight: normal;
  font-style: normal;
